<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Informaçoes do cliente</title>

</head>
<body>
<div class="container">
    <div class="row">
        <h1>Informaçoes do cliente</h1>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <tbody>
                <b>Id:</b> <span th:text="${customerDTO.id}"></span></br>
                <b>Nome:</b> <span th:text="${customerDTO.name}"></span></br>
                <b>Genero:</b> <span th:text="${customerDTO.getStatusGender}"></span></br>
                <b>Cpf:</b> <span th:text="${customerDTO.cpf}"></span></br>
                <b>E-mail:</b> <span th:text="${customerDTO.email}"></span></br>
                <b>Nascimento:</b> <span th:text="${customerDTO.birth}"></span></br>
                <b>Data de criaçao:</b> <span th:text="${customerDTO.creationDate}"></span></br>
                </tbody>
            </div>
        </div>

        <div class="row">
            <a href="javascript:history.back()">Voltar</a>
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"/>

</body>
</html>